.row
  .panel.panel-primary
    .panel-heading Routine
    .panel-body
      .col-md-3
        .panel.panel-info
          .panel-heading Group A
          .panel-body
            %ul
              %li Average
              %li Profit and Loss
              %li Time & space

      .col-md-3
        .panel.panel-info
          .panel-heading Group B
          .panel-body
            %ul
              %li CI and SI
              %li Percentage
              %li Time & work
      .col-md-3
        .panel.panel-info
          .panel-heading Group C
          .panel-body
            %ul
              %li Ratio
              %li Geometry
              %li Sequence and series
      .col-md-3
        .panel.panel-info
          .panel-heading Group D
          .panel-body
            %ul
              %li Alligation
              %li geometry
.row
  .col-md-4
  .col-md-4
    .panel.panel-primary
      .panel-heading Week routine
      .panel-body
        %strong Monday
        B+1RC+5CR+5PS
        %br
        %strong Tuesday
        C+1RC+5CR+5PS
        %br
        %strong webnesday
        D+1RC+5CR+5PS
        %br
        %strong thrusday
        GS+A
        %br
        %strong friday
        REASONING
        %br
        %strong satarday
        A+1RC+5CR+5PS
        %br
        %strong sunday
        free time
        %br
  .col-md-4
